<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Book My Show Suite" thread-count="2" parallel="tests">


    <!--            <test name="Package Test">-->
    <!--                <packages>-->
    <!--                    <package name="MyTests"></package>-->
    <!--                </packages>-->
    <!--            </test>-->


    <test name="Image Urls Test">
        <classes>
            <class name="MyTests.ImdbRatings"/>
            <class name="MyTests.Image_Urls"/>
        </classes>
    </test>

    <!--            <test name="LinkedinImagePost Test">-->
    <!--                <classes>-->
    <!--                    <class name="MyTests.LinkedInImagePost" />-->
    <!--                </classes>-->
    <!--            </test>-->
</suite>